body,
html{
    background-color: black;
}
.container{
    margin: 30px;
}
.nav{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 20px;
    left: 0;
    height: 60px;
}
.nav a{
    color: white;
    font-size: medium;
    margin: 20px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    float: right;
}
.nav img{
    width: 100px;
    height: auto;
    margin-top: -20px;
}
.nav a:hover{
    color: goldenrod;
    text-decoration: none;
}
.container img{
    width: 100%;
    height: auto;
}

